body {background-color:black;
    font-family:Segoe UI;
    font-weight: bold;
    }

div {
    border-radius: 25px;
    float: center;
    background-color:white;
    color:black;
    margin: auto;
    width: 450px;
    padding: 5px;
    }
h1 {
    color:rgb(119, 117, 117);
    text-align:center;
}

label {
    position: absolute;
    left: 55ch;
    vertical-align : middle;
    text-align: justify;
    line-height : 20px;
    margin: 3px;
    width:11ch;
    padding: 5px;
   }


#rate {
    vertical-align : middle;
}

#rate_val {
    vertical-align : middle;
    line-height : 20px;
    margin: 3px;
    position: absolute;
    left: 82ch;
}

input {
    border: 1px solid black;
    position: absolute;
    left: 83ch;
    vertical-align : middle;
    line-height : 20px;
    margin: 3px;
}


span {
    display : inline-block;
    vertical-align : middle;
    text-align: justify;
    line-height : 20px;
    left: 15ch;
   }

#years {
    width:60px;
}

#percent {
    left: 43ch;
}

#result {
    margin: 10px;
}

button {
    position: absolute;
    left: 69ch;
    font-weight: bold;
    vertical-align : middle;
    text-align:center;
    line-height : 20px;
    margin: 10px;
    margin-bottom: 5px;
}

footer {
    line-height : 20px;
    margin: 20px;
    left: 5ch;
}

.highlight {
    background-color: yellow;
  }



