body {background-color:black;
    font-family:Segoe UI;
    font-weight: bold;
    }

div {
    border-radius: 25px;
    float: center;
    background-color:white;
    color:black;
    margin: auto;
    width: 550px;
    padding: 5px;
    }
h1 {
    color:rgb(119, 117, 117);
    text-align:center;
}

label {
    display:inline-block;   
    box-sizing:border-box;
    margin-left: 15%;
    text-align: left;
    padding-bottom: 2%;
    vertical-align : middle;
    line-height : 20px;
    width:11ch;
    padding: 5px;
   }


#rate {
    vertical-align : middle;
}

#rate_val {
    vertical-align : middle;
    line-height : 20px;
    margin: 3px;
}

input {
    border: 1px solid black;
    vertical-align : middle;
    line-height : 20px;
    margin: 3px;
}


span {
    display : inline-block;
    vertical-align : middle;
    text-align: justify;
    line-height : 20px;
    left: 15ch;
   }

#years {
    width:60px;
}



#result {
    display:inline-block;   
    margin-left: 15%;
    text-align: left;
    padding-bottom: 2%;
    vertical-align : middle;
    line-height : 20px;
    padding: 5px;
}

button {
    font-weight: bold;
    vertical-align : middle;
    line-height : 20px;
    margin-left: 15%;
    text-align: left;
    margin-top: 20px;
}

footer {
    line-height : 20px;
    margin: 20px;
    left: 5ch;
}

.highlight {
    background-color: yellow;
  }



